<% include header %>
<% if(datas.length){ %>
	<% datas.forEach(function(roundData){  %>
	<div class="panel panel-default">
		<div class="panel-heading"> 
			<div>
				<%= roundData.name %>
			</div>
		</div>
		<div class="panel-body">
			<div class="pull-left">
				<div>
				Time Limit In Seconds:
				<%= roundData.timeLimitInSeconds %>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="pull-left">
				<div>
				Points For Correct Answers:
				<%= roundData.pointsAddedForCorrectAnswer %>
				</div>
			</div>
		</div>
		<% roundData.questions.forEach(function(question){ %>
			<div class="panel-heading">
				<div>
					<%= question.questionText %>
				</div>
			</div>
			<% question.answers.forEach(function(answer){ %>
				<div class="panel-body">
					<div class="pull-left">
						<div>
						<%= answer.answerText %>
							<% if(answer.isCorrect) { %>
								[Correct Anwser]
							<% } %>
						</div>
					</div>
				</div>
			<% }) %>
		<% }) %>
	</div>
	<% }) %>
	<% } else { %>
	No entries! <a href="/new-entry"> Add a Favorite Food?</a>
	<% } %>
<% include footer %>

